# Virtual Environment
venv/
env/
ENV/
data/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Project specific
test_output/
embeddings.json
scraped_data.json 